{
  "singleQuote": true,
  "proseWrap": "preserve",
  "tabWidth": 2,
  "useTabs": false,
  "stylelintIntegration": true,
  "eslintIntegration": true,
  "vueIndentScriptAndStyle": false,
  "printWidth": 100
}
